body {
  background-color: lavender;
  font-family: monospace
}


header {
  background-color: rgb(28, 163, 180);
  width: 160%;
  margin: 0 auto;
  display: flex;
  padding: 1px;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 100%;
}


section {
  margin: 20px 0;
}

main {
  width: 60%;
  margin: 0 auto;
  padding: 10%;
}

h1{
  margin: 0;
  text-align: right;
}

h2 {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

input[type="submit"] {
  background-color: gray;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#display-info {
  display: flex;
  flex-direction: column;
}

#display-info h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

#display-info p {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: bold;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

button {
  background-color: gray;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  #reviews {
  display: none;
  }
  }